:root {
    --primary-color: #820101;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --font-heading: 'Roboto', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    margin: 0;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
main,
footer {
    width: 100%;
    max-width: 600px;
}

h1 {
    font-family: var(--font-heading);
    text-align: start;
    color: var(--primary-color);
}

form {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-weight: 600;
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 0.8rem;
    font-family: inherit;
    font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--primary-color);
    border-color: transparent;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    margin-top: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #303f9f;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #666;
}