header,
footer {
    text-align: center;
    width: 100%;
    background: #333333;
    color: #fff;
    padding: 5px 0 5px 0;
}

header {
    font-size: xx-large;
}

h1 {
    text-align: center;
}

picture {
    display: flex;
    justify-content: center;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

img {
    width: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 25px 25px #33333373;
}

section {
    background: #DDDDDD;
    padding: 20px;
    margin: 10px 0;
}

h2 {
    border-bottom: #333333 2px solid;
}

footer {
    font-size: large;
}